.nav {
     height: 50px;
     background-color: #121519;
}
 .project-table {
     margin: 25px;
     display: flex;
     justify-content: left;
     align-items: left;
     flex-direction: column;
}
 .project-tr {
     padding: 15px;
     margin: 25px;
     display: flex;
     justify-content: left;
     align-items: left;
     flex-direction: column;
     text-align: left;
     border: 1px solid #24292E;
     border-radius: 7px;
     border-collapse: collapse;
     line-height: 200%;
     background-color: #0C0E12;
     color: #ECF4FB;
     text-align: left;
     word-break: break-all;
}
 .project-tr:hover {
     background-color: #121519;
}
 .project-name {
     font-size: 25px;
}
 .project-description {
     margin-top: 5px;
     text-align: left;
}
 .project-appcount {
     margin-top: 5px;
     color: #717A85;
}
 .project-logo {
     float: left;
     margin: 10px;
}
 .project-signout {
     float: right;
}
 .project-signout-button {
     background-color: #1F7629;
     border-color: transparent;
     color: white;
     margin: 10px;
     border-radius: 7px;
     width: 100px;
     height: 29px;
}
 .project-signout-button:hover {
     filter: brightness(150%);
}
 .project-signout-button:active {
     filter: brightness(70%);
}
 .project-create {
     background-color: #1F7629;
     border-color: transparent;
     color: white;
     border-radius: 7px;
     width: 150px;
     height: 29px;
     margin-right: 24px;
     float: right;
}
 .project-create:hover {
     filter: brightness(150%);
}
 .project-create:active {
     filter: brightness(70%);
}
 .project-title {
     margin-top: 3px;
     font-size: 25px;
     border-color: transparent;
     color: white;
     border-radius: 7px;
     height: 29px;
     margin-left: 24px;
     float: left;
     word-break: break-all;
}
 .project-list-form-button {
     all: unset;
}
 .project-userid {
     font-size: 25px;
     margin-top: 10px;
     margin-left: 24px;
}
 .application-info-form {
     display: inline-block;
}
 .application-info-button {
     background-color: #1F7629;
     border-color: transparent;
     color: white;
     border-radius: 7px;
     width: 110px;
     height: 29px;
     margin-right: 24px;
     float: right;
}
 .application-info-button:hover {
     filter: brightness(150%);
}
 .application-info-button:active {
     filter: brightness(70%);
}
 .application-info-button2 {
     background-color: #E06D1D;
     border-color: transparent;
     color: white;
     border-radius: 7px;
     width: 110px;
     height: 29px;
     margin-right: 24px;
     float: right;
}
 .application-info-button2:hover {
     filter: brightness(150%);
}
 .application-info-button2:active {
     filter: brightness(70%);
}
 .application-info-button3 {
     background-color: #3056D0;
     border-color: transparent;
     color: white;
     border-radius: 7px;
     width: 110px;
     height: 29px;
     margin-right: 24px;
     float: right;
}
 .application-info-button3:hover {
     filter: brightness(150%);
}
 .application-info-button3:active {
     filter: brightness(70%);
}
 .application-info-button4 {
     background-color: #5A585A;
     border-color: transparent;
     color: white;
     border-radius: 7px;
     width: 110px;
     height: 29px;
     margin-right: 24px;
     float: right;
}
 .application-info-button4:hover {
     filter: brightness(150%);
}
 .application-info-button4:active {
     filter: brightness(70%);
}
 .application-info-button5 {
     background-color: #D63773;
     border-color: transparent;
     color: white;
     border-radius: 7px;
     width: 110px;
     height: 29px;
     margin-right: 24px;
     float: right;
}
 .application-info-button5:hover {
     filter: brightness(150%);
}
 .application-info-button5:active {
     filter: brightness(70%);
}